__pycache__/
.vscode/
data/
wandb/
experiments/checkpoints/
experiments/synth/
experiments/ehf/
tools/visualize/smplh/
src/models/smplx/params/
src/inference/vposer/
src/utils/visualize/smplh/
imgui.ini
*.pth
*.pt