numpy==1.26.4
matplotlib==3.7.1
torch==2.6.0+cu126
torchvision==0.21.0+cu126
pytorch-lightning==2.2.1
kornia==0.8.0
kornia_rs==0.1.8
timm==1.0.15
opencv-python==4.10.0.84
pyrender==0.1.45
transformations==2022.9.26
wandb==0.19.9
dataclasses==0.6
omegaconf==2.3.0
loguru==0.7.3