-e git+https://github.com/eth-ait/aitviewer.git@8fb6d4661303579ef04b3bf63ac907dbaecff2ff#egg=aitviewer
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
autocommand==2.2.2
backports.tarfile==1.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
chumpy @ git+https://github.com/mattloper/chumpy@51d5afd92a8ded3637553be8cef41f328a1c863a
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
docker-pycreds==0.4.0
filelock==3.17.0
fonttools==4.56.0
freetype-py==2.5.1
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.44
glcontext==3.0.0
huggingface-hub==0.30.2
idna==3.10
imageio==2.37.0
imgui==2.0.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
kornia==0.8.0
kornia_rs==0.1.8
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.7.1
moderngl==5.12.0
moderngl-window==2.4.6
more-itertools==10.3.0
mpmath==1.3.0
multipledispatch==1.0.0
networkx==3.4.2
numpy==1.26.4
omegaconf==2.3.0
opencv-contrib-python-headless==4.11.0.86
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
platformdirs==4.2.2
protobuf==5.29.4
psutil==7.0.0
pydantic==2.11.3
pydantic_core==2.33.1
pyglet==2.1.3
pyglm==2.8.0
PyOpenGL==3.1.0
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyrender==0.1.45
pyrr==0.10.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
roma==1.5.2.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-video==1.1.11
scipy==1.15.2
sentry-sdk==2.26.1
setproctitle==1.3.5
six==1.17.0
smmap==5.0.2
-e git+https://github.com/vchoutas/smplx.git@1265df7ba545e8b00f72e7c557c766e15c71632f#egg=smplx
sympy==1.13.1
tifffile==2025.2.18
timm==1.0.15
tomli==2.0.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.66.3
transformations==2022.9.26
trimesh==3.22.1
typeguard==4.3.0
typing-inspection==0.4.0
typing_extensions==4.12.2
urllib3==2.4.0
usd-core==25.2.post1
wandb==0.19.9
websockets==15.0.1
zipp==3.19.2
